.btn-primary:hover {
  color: #000;
  background-color: #ffffff;
  border-color: #ff0000;
}

.btn-check:focus + .btn-primary, .btn-primary:focus {
  color: #000;
  background-color: #ffffff;
  border-color: #ff0000;
  /*box-shadow: 0 0 0 .25rem rgba(56,187,139,.5);*/
}

.btn, .btn-primary, .link-primary{
  width: 100%;
  background: var(--bs-dark);
  border-radius: 1em;
  border-style:none;
  color: var(--bs-red);
  font-size: large
}

.btn-link{
  background-color: transparent;
}

.btn-link:hover {
  color: white;
  background-color: transparent;
}

.btn-circle{
  height: 2em;
  width:2em;
  align-self: center;
  font-size: xx-large;
  background-color: transparent;
}

.col-md-3{
  padding: .25em;
}

body{
  background-color: #161616;
}

.masthead{
  background-color: #161616;
  height: 100%;
}

html,
section {
  height: 100%;
}

section {
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #161616;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  background-color: #212529;
  border-style: none;
  margin-bottom: -1px;
  border-radius: 2rem;
  color: white;
  padding-left: 3em;
}

.form-signin input[type="number"] {
  margin-bottom: 10px;
  background-color: #212529;
  border-style: none;
  border-radius: 2em;
  color: white;
  padding-left: 3em;
}


.form-floating-label {
  position: relative;
  
}

.form-floating-label [type='text'],
.form-floating-label [type='password'],
.form-floating-label [type='date'],
.form-floating-label [type='datetime'],
.form-floating-label [type='datetime-local'],
.form-floating-label [type='month'],
.form-floating-label [type='week'],
.form-floating-label [type='email'],
.form-floating-label [type='number'],
.form-floating-label [type='search'],
.form-floating-label [type='tel'],
.form-floating-label [type='time'],
.form-floating-label [type='url'],
.form-floating-label [type='color'],
.form-floating-label textarea {
  margin-bottom: 0;
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  padding: 30px 1rem 1rem 25px;
}
.form-floating>label {
    position: absolute;
    top: 0;
    left: 1em;
    height: 100%;
    padding: 1rem .75rem;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity .1s ease-in-out,transform .1s ease-in-out;
}

.form-floating-label textarea ~ label {
  top: 20px;
  font-size: 18px;
  font-weight: 300;
}

.form-floating-label input:focus ~ label,
.form-floating-label input:disabled[value] ~ label,
.form-floating-label.has-value input ~ label {
  top: 0;
  font-size: 14px;
  color: dodgerblue;
  font-weight: 400;
}

.form-floating-label textarea:focus ~ label,
.form-floating-label.has-value textarea ~ label {
  top: 0;
  font-size: 14px;
  color: dodgerblue;
  font-weight: 400;
}

.table-responsive{
  padding: 1em;
  margin-right: 15%;
  margin-left: 15%;
  font-size: 23px;
  box-shadow: 2px 3px 0px var(--bs-body-bg);
  border-radius: 19px;
}
